<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <title>NodeJS-RestApi</title>
    <link rel="icon" href="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/session.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>






    <div id="card-position">
        <div class="text-center col-4 card" id="card">
            <div class="form-group">
                <input class="form-control" id="inputUsername" type="text" placeholder="Username">
            </div><br>
            <div class="form-group">
                <input class="form-control" id="inputEmail" type="text" placeholder="E-mail address">
            </div><br>
            <div class="form-group">
                <input class="form-control" id="inputPassword" type="password" placeholder="Password">
            </div><br>
            <div class="form-group">
                <input class="form-control" id="inputPasswordAgain" type="password" placeholder="Password again">
            </div><br>
            <div class="text-center">
                <button class="btn btn-primary" onclick="registration()">Regisztráció</button><br><br>
                <button class="btn btn-warning" onclick="window.location.href='index.html'">Már van profilom</button>
            </div>
            <div id="status"></div>
        </div>
    </div>
</body>
</html>