<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="emailVerification()">
    <div id="status"></div>
    <input type="email" id="input_email" placeholder="Your e-mail address">
    <button onclick="sendForgotPassword()">Send</button>
    <script>
        function sendForgotPassword() {
            if (document.getElementById("input_email").value != "") {
                var xhr = new XMLHttpRequest()
                var url = `http://localhost:8080/forgotpassword`
                xhr.open("POST", url, false)
                xhr.setRequestHeader("Content-type", "application/json")
                xhr.send(JSON.stringify({ email: document.getElementById("input_email").value }))
                window.location.href = "http://www.trophien.com";
            } else
                document.getElementById("status").innerHTML = "<h1>You have to fill all of the form!</h1>"
        }
    </script>
</body>
</html>