tr, td {
    width: 25%;
    text-align: center;
}

.btn {
    width: 10em;
}

#card-position {
    text-align: center;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#card {
    min-width: 20em !important;
    //position: relative;
    border: 1px solid black !important;
    border-radius: 15px;
    padding: 2em;
}

.error-modal-content{
    background-color: #FFE8E8 !important;
	border-radius: 15px !important;
}

.success-modal-content{
    background-color: #BDF8BD !important;
	border-radius: 15px !important;
}